.pricingItem {
  padding: 86px 72px;
}

.icons {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 0 auto;
  display: block;
  width: 214px;
  height: 164px;
}

.button {
  text-transform: uppercase;
  color: #fff;
  border: none;
  width: 200px;
  cursor: pointer;
  padding: 16px 0;
}
