.container {
  margin: 0 auto;
  width: 448px;
  padding: 86px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 4px;
  background-color: #e7ecf2;
}

.title {
  background-color: #fff;
  width: 270px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 28px 0;
  color: #768696;
  margin: 0;
}

.list {
  width: 270px;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
}

.item {
  padding-top: 10px;
  padding-bottom: 12px;
  width: 20%;
  display: block;
  border: 1px solid #fff;
  background-color: #37bcf5;
}

.item:nth-child(3n+2) {
  background-color: #a33cf2;
}

.item:nth-child(3n+3) {
  background-color: #e64c65;
}

.label {
  display: block;
  font-size: 12px;
}

.percentage {
  display: block;
  font-size: 18px;
}
